.history {
  width: 600px;
  margin: auto;
  background-color: #fff;
  color: rgb(68, 66, 66);
  box-shadow: 0 5px 20px -5px #292c2e;
}
.historyHeader {
  text-align: center;
  border: solid 1px rgb(68, 66, 66);
}
.th {
  padding: 10px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(118, 143, 212);
}
.td {
  width: calc(100% / 3);
  text-align: center;
  padding: 10px;
  border-bottom: solid 1px rgb(68, 66, 66);
  border-right: solid 1px rgb(68, 66, 66);
}
